*, body { font-family: Tahoma; font-size: 12px; }
body { width: 7.1cm; height: auto; height: 5.1cm; }
.brandstruk { font-size: 12px; text-transform: uppercase; font-weight: bold; border-bottom: 1px solid #000; }
.brandstruk .detail { font-size: 12px; font-weight: normal; text-transform: inherit; }
.space { height: 0.25cm; }
.resep_dokter td { font-size: 12px; }
table { text-transform: uppercase; }
table td { font-size: 12px; }
    @page {
        size: portrait;
        margin: 0 5mm 5mm 0;
    }
    @media print {
        .page {
            margin: 5mm;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }