/*=============== VARIABLES CSS ===============*/

:root {
    /*========== Colors ==========*/
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --h1-font-size: 1.275rem;
    --h2-font-size: 1.15rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.75rem;
    --small-font-size: 0.625rem;

    /*========== Font weight ==========*/
    --font-normal: 300;
    --font-reguler: 600;
    --font-bold: 900;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--container-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--normal-font-size);
    color: black;    
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h4.underline {
    text-decoration: underline;
}

p {
    font-size: var(--small-font-size);
}

textarea {
    /* border: none; */
    resize: none;
}

input {
    /* border: none; */
}

hr {
    padding: 0 1rem;
}
/*=============== TABLE ===============*/
table {
    width: 100%;
    border-collapse: collapse;    
    font-family: Arial, Helvetica, sans-serif;  
    border: 1px solid black; 
}

table.no__border {
    border: none;
}

table.big__line__spacing {
    line-height: 1.5rem;
}

table.fixed {
    table-layout: fixed;
}

table.small__font {
    font-size: var(--normal-font-size);
}

table.justify {
    text-align: justify;
}

tbody {
    border: none;
}

tbody.border {
    border: 1px solid black;    
    padding: .25rem;
}

th,td {
    border: 1px solid black;    
    padding: .25rem;
}

th.no__border {
    border: none;
}

td {
    word-wrap:break-word;        
}

td.ttd {
    padding: 1rem;
}

td.no__border {
    border: none;
}

td.flex {
    display: flex;
    gap: 4rem;
}

td.grid__four-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .25rem;
}

td.grid__two-column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .25rem;
}

td.grid__two-column2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: .5em;
}

td.grid__signature {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
    text-align: center;
    margin-top: 1rem;
}

.table__big-title,
.table__title {    
    font-weight: var(--font-reguler);
}

.table__big-title {
    font-size: var(--h3-font-size);
}

.table__title {
    font-size: var(--normal-font-size);
}

.table__small-font {
    font-size: var(--small-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.border {
    border: 2px solid black;
    border-radius: 20px;
}

.no__radius {
    border-radius: 0;
}

.section {
    padding: 1rem;
}

.section__title {
    text-align: center;
}

.section__subtitle {
    font-size: var(--normal-font-size);
    margin-left: .5rem;
}

.grid__five-column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .25rem;
}

.grid__two-column2 {
    display: grid;
    grid-template-columns: .25fr 1fr;
    gap: .25rem;
    /* width: 400px; */
}

.grid__two-column-samesize {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
/*=============== LAYOUT ===============*/
.container {
    margin: 0 1rem;    
}

.grid {
    display: grid;
    gap: .75rem;
}

.flex {
    display: flex;
    gap: .25rem 1.9rem;
    flex-wrap: wrap;
}

.page {
    width: 793px;
    height: 1122px;
}
/*=============== HEADER ===============*/
.header__container {
    grid-template-columns: 1fr 1.5fr;
}

.header__img {
    width: 80px;
}

.identity__section {
    grid-template-columns: 1fr 1.75fr;
}

.identity,
.identity__note {
    font-size: var(--normal-font-size);
}

.identity__note {
    font-style: italic;
}

.header__container-identity {
    display: grid;
    gap: .25rem;
    align-items: center;
}

.identity__section-title,
.identity__section-subtitle {
    display: grid;
    gap: .25rem;
}

.secret__container {
    margin: auto;
    justify-self: center;
    border: 2px solid black;
}
/*=============== HEADER 2 ===============*/
.header__container2 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__address2 {
    font-size: var(--normal-font-size);
}
/*=============== MAIN ===============*/
.first__level__option {
    display: grid;
    grid-template-columns: .25fr 3fr;
    padding-left: 1rem;
}

.signature {
    margin: 7rem 1rem 0 1rem;
    padding: 6rem 1rem 0 1rem;
    text-align: center;
    /* justify-self: center; */
}
/*=============== FOOTER ===============*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__firstpage {
    position: absolute;
    bottom: 0;
    /* margin-top: 11rem; */
    width: 100%;
}

.footer__secondpage {
    position: absolute;
    bottom: -1122px;
    /* margin-top: 11rem; */
    width: 100%;
}

.footer__thirdpage {
    position: absolute;
    bottom: -1122px;
    /* margin-top: 11rem; */
    width: 100%;
}

.page__number {
    font-size: var(--normal-font-size);
    text-align: right;
    margin-right: 2rem;
}

.footer__content {
    grid-template-columns: 3fr 1fr;
}

.footer__note {
    margin: auto;
    align-items: center;
    width: 60%;
    text-align: center;
}
